{% extends editmode ? "layouts/base.html.twig" : "layouts/blank.html.twig" %}

{% set content = pimcore_wysiwyg('content') %}
{% set links = pimcore_block('links') %}

{% block content %}
<footer class="bg-white/10 border border-white/10 pt-12 pb-24">
    <div class="flex flex-wrap justify-between {{ cn_row() }}">
        <div class="{{ cn_gap() }} pt-12">
            <div class="uppercase font-bold text-lg">
                {% if root|default %}
                    <a href="{{ root }}" title="{{ root.getTitle }}">Logo</a>
                {% else %}
                    Logo
                {% endif %}
            </div>
            {% if editmode or not content.isEmpty %}
                {# Contact data #}
                <div class="{{ cn_prose() }} pt-4">
                    {{ content|raw }}
                </div>
            {% endif %}
        </div>
        {% if editmode or not links.isEmpty %}
            <div class="{{ cn_gap() }} underline pt-12">
                <ul>
                    {% for item in links.iterator %}
                        <li>{{ pimcore_link('link') }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</footer>
{% endblock %}


{% block before_content %}
{% endblock %}
{% block after_content %}
{% endblock %}

{% macro link_attribs(page, class = null) %}
    {% set classes = class ? [class] : [] %}
    {% if page.getClass() is not empty %}{% set classes = classes|merge([page.getClass()]) %}{% endif %}
    {% if classes is not empty %}class="{{ classes|join(' ') }}"{% endif %}
    {% if page.getUri() is not empty %}href="{{ page.getUri() }}"{% endif %}
    {% if page.getRelation() is not empty %}rel="{{ page.getRelation() }}"{% endif %}
    {% if page.getTitle() is not empty %}title="{{ page.getTitle() }}"{% endif %}
    {% if page.getTarget() is not empty %}target="{{ page.getTarget() }}"{% endif %}
{% endmacro %}