{%- apply spaceless %}
    {% set level = level|default('2') %}
    {% set link = path('pimcore_element', { element: object }) %}
    {% set hasTitle = object.title is defined and object.title is not empty %}
    {% set hasSubtitle = object.subtitle is defined and object.subtitle is not empty %}
    {% set hasVisual = object.visual is defined and object.visual is not empty %}
    {% set hasCategories = object.categories is defined and object.categories is not empty %}
    {% set hasTeaserContent = object.teaserContent is defined and object.teaserContent is not empty %}
{% endapply -%}
<article class="flex flex-col relative w-full bg-white/10 border border-white/10 rounded-lg">
    <a href="{{ link }}" class="absolute inset-0"></a>
    <div class="order-1 px-6 py-4 my-auto">
        {% if hasTitle %}
            <h{{ level }} class="{{ cn_title() }} text-xl"><a href="{{ link }}">{{ object.title }}</a></h{{ level }}>
        {% endif %}
        {% if hasCategories %}
            <div class="{{ cn('text-xs uppercase opacity-60', (hasTitle or hasSubtitle) ? 'pt-2') }}">
                {% for item in object.categories %}
                    {% if item.title is not empty and not loop.first %}, {% endif %}<a href="{{ path('pimcore_element', { element: item }) }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        {% endif %}
        {% if hasSubtitle %}
            <div class="{{ cn(cn_prose(), 'text-xl', hasTitle ? 'pt-2') }}"><p>{{ object.subtitle }}</p></div>
        {% endif %}
        {% if hasTeaserContent %}
            <div class="{{ cn(cn_prose(), (hasTitle or hasSubtitle or hasCategories) ? 'pt-4') }}">{{ object.teaserContent|raw }}</div>
        {% endif %}
    </div>
    {% if hasVisual %}
        {{ object.visual.thumbnail.html({
            imgAttributes: { class: 'rounded-t-lg w-full mb-2' }
        })|raw }}
    {% endif %}
</article>